data/*
thesis/*/*.aux
thesis/*/*.bbl
thesis/*/*.blg
thesis/*/*.brf
thesis/*/*.fdb_latexmk
thesis/*/*.fls
thesis/*/*.log
thesis/*/*.out
thesis/*/*.synctex.gz
!thesis/Anteprojeto/abntex2/*
thesis/Anteprojeto/__latexindent_temp.tex
notebooks/.env
parser/target/.rustc_info.json
parser/target/CACHEDIR.TAG
parser/target/debug/.cargo-lock
parser/target/debug/parser
parser/target/debug/parser.d
parser/target/debug/.fingerprint/parser-e5d243f6d6cd28a1/bin-parser
parser/target/debug/.fingerprint/parser-e5d243f6d6cd28a1/bin-parser.json
parser/target/debug/.fingerprint/parser-e5d243f6d6cd28a1/dep-bin-parser
parser/target/debug/.fingerprint/parser-e5d243f6d6cd28a1/invoked.timestamp
parser/target/debug/.fingerprint/peg-9cc6945d27590ca4/dep-lib-peg
parser/target/debug/.fingerprint/peg-9cc6945d27590ca4/invoked.timestamp
parser/target/debug/.fingerprint/peg-9cc6945d27590ca4/lib-peg
parser/target/debug/.fingerprint/peg-9cc6945d27590ca4/lib-peg.json
parser/target/debug/.fingerprint/peg-macros-b5437e965ed812e4/dep-lib-peg_macros
parser/target/debug/.fingerprint/peg-macros-b5437e965ed812e4/invoked.timestamp
parser/target/debug/.fingerprint/peg-macros-b5437e965ed812e4/lib-peg_macros
parser/target/debug/.fingerprint/peg-macros-b5437e965ed812e4/lib-peg_macros.json
parser/target/debug/.fingerprint/peg-runtime-1fe63cbe4855fa4c/dep-lib-peg-runtime
parser/target/debug/.fingerprint/peg-runtime-1fe63cbe4855fa4c/invoked.timestamp
parser/target/debug/.fingerprint/peg-runtime-1fe63cbe4855fa4c/lib-peg-runtime
parser/target/debug/.fingerprint/peg-runtime-1fe63cbe4855fa4c/lib-peg-runtime.json
parser/target/debug/.fingerprint/proc-macro2-0190e61e0b500ced/run-build-script-build-script-build
parser/target/debug/.fingerprint/proc-macro2-0190e61e0b500ced/run-build-script-build-script-build.json
parser/target/debug/.fingerprint/proc-macro2-61c14a39e0b15a2f/dep-lib-proc-macro2
parser/target/debug/.fingerprint/proc-macro2-61c14a39e0b15a2f/invoked.timestamp
parser/target/debug/.fingerprint/proc-macro2-61c14a39e0b15a2f/lib-proc-macro2
parser/target/debug/.fingerprint/proc-macro2-61c14a39e0b15a2f/lib-proc-macro2.json
parser/target/debug/.fingerprint/proc-macro2-6e2eb5bf7a88c713/build-script-build-script-build
parser/target/debug/.fingerprint/proc-macro2-6e2eb5bf7a88c713/build-script-build-script-build.json
parser/target/debug/.fingerprint/proc-macro2-6e2eb5bf7a88c713/dep-build-script-build-script-build
parser/target/debug/.fingerprint/proc-macro2-6e2eb5bf7a88c713/invoked.timestamp
parser/target/debug/.fingerprint/quote-25acd72cb053d756/dep-lib-quote
parser/target/debug/.fingerprint/quote-25acd72cb053d756/invoked.timestamp
parser/target/debug/.fingerprint/quote-25acd72cb053d756/lib-quote
parser/target/debug/.fingerprint/quote-25acd72cb053d756/lib-quote.json
parser/target/debug/.fingerprint/unicode-xid-be6dca5989f6de47/dep-lib-unicode-xid
parser/target/debug/.fingerprint/unicode-xid-be6dca5989f6de47/invoked.timestamp
parser/target/debug/.fingerprint/unicode-xid-be6dca5989f6de47/lib-unicode-xid
parser/target/debug/.fingerprint/unicode-xid-be6dca5989f6de47/lib-unicode-xid.json
parser/target/debug/build/proc-macro2-0190e61e0b500ced/invoked.timestamp
parser/target/debug/build/proc-macro2-0190e61e0b500ced/output
parser/target/debug/build/proc-macro2-0190e61e0b500ced/root-output
parser/target/debug/build/proc-macro2-0190e61e0b500ced/stderr
parser/target/debug/build/proc-macro2-6e2eb5bf7a88c713/build_script_build-6e2eb5bf7a88c713
parser/target/debug/build/proc-macro2-6e2eb5bf7a88c713/build_script_build-6e2eb5bf7a88c713.d
parser/target/debug/build/proc-macro2-6e2eb5bf7a88c713/build-script-build
parser/target/debug/deps/libpeg_macros-b5437e965ed812e4.so
parser/target/debug/deps/libpeg_runtime-1fe63cbe4855fa4c.rlib
parser/target/debug/deps/libpeg_runtime-1fe63cbe4855fa4c.rmeta
parser/target/debug/deps/libpeg-9cc6945d27590ca4.rlib
parser/target/debug/deps/libpeg-9cc6945d27590ca4.rmeta
parser/target/debug/deps/libproc_macro2-61c14a39e0b15a2f.rlib
parser/target/debug/deps/libproc_macro2-61c14a39e0b15a2f.rmeta
parser/target/debug/deps/libquote-25acd72cb053d756.rlib
parser/target/debug/deps/libquote-25acd72cb053d756.rmeta
parser/target/debug/deps/libunicode_xid-be6dca5989f6de47.rlib
parser/target/debug/deps/libunicode_xid-be6dca5989f6de47.rmeta
parser/target/debug/deps/parser-e5d243f6d6cd28a1
parser/target/debug/deps/parser-e5d243f6d6cd28a1.d
parser/target/debug/deps/peg_macros-b5437e965ed812e4.d
parser/target/debug/deps/peg_runtime-1fe63cbe4855fa4c.d
parser/target/debug/deps/peg-9cc6945d27590ca4.d
parser/target/debug/deps/proc_macro2-61c14a39e0b15a2f.d
parser/target/debug/deps/quote-25acd72cb053d756.d
parser/target/debug/deps/unicode_xid-be6dca5989f6de47.d
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl.lock
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/1ap9yug949aph8n7.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/1cto7trmuvuaj6sx.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/1hfl763fqglftkgv.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/1hgsvz74sswmn9im.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/1ijh2xcjzgo56os8.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/1nq1rqr147uyxrfy.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/1pf7v3m36x52vqbx.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/2gd5hm0supi7k8an.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/2jcm0tevio98mo75.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/2jemxw2c8hor2bec.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/2r688mirofkbzbn2.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/3azsc13o3f6f3obu.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/3gu8q7iqpu5hto3g.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/3lle3qvnbv8mbvkb.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/3m4ylj89i4gngp21.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/3nd9n4glpc0aqmz0.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/3og52mfzsmxeh3u7.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/3q88z1rjqhrm6yan.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/4bscez7d0ysde0jr.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/4scmkpw787vn4hn1.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/4ta94muyrlhkl7gl.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/4xny0h51rrit1h97.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/4xwg21cpyiww3jfi.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/5ci7f2qfyljdamwf.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/5gaow3x3ldu8uxd2.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/7rs9fwmsvkx88kg.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/9dio4zahfp5ckyf.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/12q0yv09h3hgsur9.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/13oioqsbpin4yzjd.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/18m9o7zmm0h864bb.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/44r7o5878la9g6ki.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/45ck54fa0rddklop.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/46zvavxvpse9v3ke.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/56epajwkjjkwnq9u.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/59ixesp4a50m2uon.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/76k4wh4dqf35giq.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/339r0yv875tyo6bi.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/506zuq53vqtbee01.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/1381kzezzpfk4hvx.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/cig1eapy2qghz61.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/dep-graph.bin
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/ikkvd0dla1ggqy9.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/oef5cj3n7v9e6ml.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/query-cache.bin
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/uub09hum0zv9m4w.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/wbbos2kclfw4hnb.o
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/work-products.bin
parser/target/debug/incremental/parser-27syxsupn7a2y/s-g56i2ktbxq-t9nxwl-a19j7cnpzqtv/yck636z6cyzdzwi.o
